<section id="portfolio" class="portfolio-section py-5">
    <div class="container">
        <h2>Portfolio</h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
            semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
            commodo.</p>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
            <div class="col">
                <article class="card h-100">
                    <div class="bg-secondary text-white d-flex align-items-center justify-content-center"
                        style="height: 250px;">700&times;400</div>
                    <div class="card-body">
                        <h3 class="card-title h5"><a href="#" class="text-decoration-none">Project Name</a></h3>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                            euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                </article>
            </div>
            <div class="col">
                <article class="card h-100">
                    <div class="bg-secondary text-white d-flex align-items-center justify-content-center"
                        style="height: 250px;">700&times;400</div>
                    <div class="card-body">
                        <h3 class="card-title h5"><a href="#" class="text-decoration-none">Project Name</a></h3>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                            euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                </article>
            </div>
            <div class="col">
                <article class="card h-100">
                    <div class="bg-secondary text-white d-flex align-items-center justify-content-center"
                        style="height: 250px;">700&times;400</div>
                    <div class="card-body">
                        <h3 class="card-title h5"><a href="#" class="text-decoration-none">Project Name</a></h3>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                            euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
